*{
    margin: 0;
}
figure , img{
    display: inline;
    width: 48px;
    height: 48px;
}
ul, li, a, h1{
    text-align: center;
    display: inline;
    text-decoration: none;
    color: #1E1E1E;
}
body{
    background-color: #808080;
}

